{
    "presets": [
        [
            "@babel/preset-env", {
                "targets": {

                    "browsers": ["last 2 versions"]

                },
                "debug": true
            }
        ],

        "@babel/preset-react",
        "@babel/preset-flow"

    ],

    "plugins": [
        "@babel/plugin-transform-runtime",
        "transform-class-properties",
        "transform-object-rest-spread"
    ]
}